@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

.habitaciones .card p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serifs;
  font-size: 15px;
}

.primerasection {
  background: url(https://img.freepik.com/fotos-premium/3d-hotel-lujo-recepcion-salon_105762-9.jpg?w=826) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.segundasection {
  grid-row: 2;
  grid-column: 3;
}
.segundasection h1 {
  color: #303030;
  font-size: 3rem;
}
.segundasection p {
  color: black;
  text-align: center;
}

.ubicacion-main h1 {
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
}
.ubicacion-main .sextasection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.ubicacion-main .sextasection p {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: black;
  border-radius: 5px;
  font-size: 1rem;
  justify-content: center;
  width: 300px;
}
.ubicacion-main .sextasection .imgmapa {
  display: flex;
  max-width: 300px;
}
.ubicacion-main h2 {
  font-family: "Montserrat", sans-serif;
  padding: 3rem 1rem 1rem 1rem;
  margin: 0;
}
.ubicacion-main .septimasection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 1rem 2rem 1rem;
}
.ubicacion-main .septimasection .card:hover {
  transition: 1s;
  transform: scale(1.2);
}
.ubicacion-main .septimasection .card {
  padding: 2rem;
  margin: 1rem;
  border-color: black;
}
.ubicacion-main .septimasection .card div p {
  text-align: center;
  font-family: "Acme", sans-serif;
}

@media (max-with: 65opx) {
  .imgmapa {
    width: 50%;
  }
}
h1 {
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: calc(1.375rem + 1.5vw) !important;
}

.habitaciones {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.habitaciones .card {
  padding: 1rem;
  margin: 0.5rem;
  background-image: linear-gradient(to top, rgb(196, 213, 241), white 85%);
  border-color: black;
}
.habitaciones .card .h5 {
  font-family: "Alegreya SC", serif;
  font-size: 2rem;
  text-align: center;
}
.habitaciones .card .btn {
  padding: 1rem;
  background-color: black;
  color: white;
}
.habitaciones .card .btn:hover {
  background-color: rgb(16, 16, 136);
  color: white;
}

.contenedor-reservas {
  background: url(https://media.istockphoto.com/photos/hotel-room-condominium-or-apartment-doorway-picture-id1165738696?k=20&m=1165738696&s=612x612&w=0&h=glThQeKk3IgE5RXN2IpeaQxQCnb4gBTMTu2lL1vmq3Y=) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.contenedor-reservas .reserva {
  grid-column: 2;
  grid-row: 2;
  color: black;
}
.contenedor-reservas .reserva h1 {
  grid-column: 4/8;
  font-weight: 900;
}
.contenedor-reservas .reserva p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: black;
  justify-content: center;
  font-size: 15px;
}
.contenedor-reservas form {
  display: flex;
  border: 0.3rem solid black;
  background-color: none;
  grid-column: 2/9;
  grid-row: 9;
  padding: 0.5rem;
}
.contenedor-reservas form .label {
  display: flex;
  flex-wrap: wrap;
}
.contenedor-reservas form .label input {
  margin: 0.3rem;
  border: black solid;
}

@media (max-with: 350px) {
  .label {
    flex-direction: column;
    max-width: 350px;
  }
}
.main-contact {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  background: url(https://media.istockphoto.com/photos/ll-make-an-extra-reminder-about-that-picture-id1006658044?k=20&m=1006658044&s=612x612&w=0&h=1hCbUUEVRxwI-vfE5EA3tKuNB9GVrZko_TBHsZEqUl0=) no-repeat;
  background-size: cover;
  background-position: center;
}
.main-contact .formulario {
  border: 1px solid black;
}
.main-contact .formulario h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
}
.main-contact .formulario form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}
.main-contact .formulario .form-control {
  border: solid black;
  background-color: rgb(252, 252, 252);
  margin-bottom: 1rem;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.main-contact .formulario .btn {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.main-contact .formulario .btn .btn:hover {
  transform: scale(1.8);
}

header .navbar {
  background: linear-gradient(to right, #000000, #3a3a3a) !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
header .navbar .nav-item {
  padding: 0.5em;
  transition: all 0.3s;
}
header .navbar .nav-item:hover .nav-link {
  transform: scale(1.1);
}
header .navbar .nav-item .nav-link {
  color: #DADADA;
}
header .logo2 {
  width: 80px;
}

.footer {
  display: flex;
  background: linear-gradient(to right, #000000, #3a3a3a) !important;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}
.footer ol {
  display: flex;
  list-style-type: none;
}
.footer ol li a {
  color: white;
  padding: 1rem;
}
.footer p {
  color: #3b3b3b;
}/*# sourceMappingURL=main.css.map */