@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');

$Alegreya:'Alegreya SC', serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

$Roboto:'Roboto Slab', serif;

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
$Acme:'Acme', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@100;300&display=swap');
$Monserrat:'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
$Monserrat1:'Montserrat', sans-serif;


