.main-contact{
 padding: 2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 height: 100vh;
 background: url(https://media.istockphoto.com/photos/ll-make-an-extra-reminder-about-that-picture-id1006658044?k=20&m=1006658044&s=612x612&w=0&h=1hCbUUEVRxwI-vfE5EA3tKuNB9GVrZko_TBHsZEqUl0=) no-repeat;
 background-size: cover;
 background-position: center;
 


.formulario{
  border: 1px solid black;
 

    h1{
      font-family: $Monserrat1;
      text-align: center;
      margin: 0;
    }

    form{
     max-width: 350px;
     display: flex;
     flex-direction: column;
    }

    


    .form-control{
        border: solid black;
        background-color: rgb(252, 252, 252);
        margin-bottom: 1rem;
        width: 300px;
        display: flex;
        flex-direction: column;
      
       } 
    .btn{
      background-color:black;
      color: white;
      text-align: center;
      padding: 1rem;
      align-items: center;
      margin-bottom: 1rem;
       .btn:hover{
        transform: scale(1.8);
       }

    }

}

}
