.main-contact{
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  // background-color: black;
  // border: 1px solid black;
  flex-wrap: wrap;

.foto{
    display: flex;
    margin-top: 2rem ;
    // max-width: 30%;
    margin-left: 1rem;
    height: 83.5vh;
    align-content: space-between;
    justify-content: space-around;
    max-width: 50vw;
}

.formulario{
  //  display: flex;
  //  flex-direction: column;
  //  align-items: center;
  //  border: 2px solid rgb(15, 15, 16);
   padding: 3rem;
  //  background-color: black;
   margin: 2rem;
  //  border-radius: 5px;
  //  max-width: 50%;
   border: 1px solid black;
  
  

    h1{
      font-family: $Monserrat1;
      text-align: center;
    }

    form{
     max-width: 350px;
     margin-top: 3rem;
     display: flex;
     flex-direction: column;
    }

    


    .form-control{
        // height: 2.5rem;
        border: solid black;
        // margin-top: 1rem;
        background-color: rgb(252, 252, 252);
        margin-bottom: 1rem;
        width: 350px;
        display: flex;
        flex-direction: column;
        // margin-left: 30rem;
      
       } 
    .btn{
      background-color:black;
      color: white;
      text-align: center;
      padding: 1rem;
      align-items: center;
      // margin-left: 8rem;
      margin-bottom: 1rem;
       .btn:hover{
        transform: scale(1.8);
       }

    }

}

}
@media (max-with: 65opx){
  .form-control{
      width: 50px;
  }
}