.footer { 
    display: flex;
    background: linear-gradient(to right, #000000, #3a3a3a) !important;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    
   ol{
       display: flex;
       list-style-type: none;
       li a {
         color: white;
         padding: 1rem;
        }
    }

   p{
       color: #3b3b3b;
    }

   }

   

