h1{
 padding: 2rem;
 font-family: $Monserrat1;
 text-align: center;

}
h2{
    text-align: center;
    font-family: $Roboto;
    font-size: calc(1.375rem + 1.5vw) !important;
}
.habitaciones{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
       .card{
        padding: 1rem;
        margin: 0.5rem;
        background-image: linear-gradient(to top,rgb(196, 213, 241), white 85%);
        border-color: black;
          p{ 
            @extend %estiloParrafo;
         
           }
         .h5{
            font-family: $Alegreya;
            font-size: 2rem;
            text-align: center;
           }

         .btn{
           @include btn-primary(black,white);
           
           
            &:hover {
             background-color: rgb(16, 16, 136);
             color: white;
            }
           }
     }  
    
}

