header{
   .navbar{
    background: linear-gradient(to right, #000000, #3a3a3a) !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
     
    .nav-item{
        padding: 0.5em;
        transition: all 0.3s;

         &:hover .nav-link{
            transform: scale(1.1);
         
           }
           .nav-link{
            color: #DADADA;

           }
    }
    
    }


.logo2{
     width: 80px;
    
    }
}
