.contenedor-reservas{
 display: flex;
 background: url(https://images.unsplash.com/photo-1618773928121-c32242e63f39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80) no-repeat;
 background-size: cover;
 background-position: center;
 height: 100vh;
 display: grid;
 grid-template-columns: repeat(12,1fr);
 grid-template-rows: repeat(12,1fr);

 .reserva{
   grid-column: 6;
   grid-row: 2;
   color: white;

     h1{
        grid-column: 4/8;
        


     }
     p{

     }

 }
 form{
    display: flex;
    border: 0.5rem solid red;
    grid-column: 2/12;
    grid-row: 5;


}
}