.contenedor-reservas{
 display: flex;
 background: url(https://media.istockphoto.com/photos/luxury-modern-bedroom-interior-at-night-picture-id1318363878?k=20&m=1318363878&s=612x612&w=0&h=ETcY1pa0YUnslnqbpehr8lRmM12GFDCpPNhuZ1VU1cE=) no-repeat;
 background-size: cover;
 background-position: center;
 height: 100vh;
 display: grid;
 grid-template-columns: repeat(12,1fr);
 grid-template-rows: repeat(12,1fr);

 .reserva{
   grid-column: 2;
   grid-row: 2;
   color: white;

     h1{
        grid-column: 4/8;
        
     }
     p{

     }

 }
 form{
    display: flex;
    border: 0.3rem solid black;
    background-color:white;
    grid-column: 3/12;
    grid-row: 9;
     
     input{
      // margin-left: 0.5rem;
      padding: 0.3rem;
      margin: 0.5rem;
     }

}
}