.contenedor-reservas{
 background: url(https://media.istockphoto.com/photos/hotel-room-condominium-or-apartment-doorway-picture-id1165738696?k=20&m=1165738696&s=612x612&w=0&h=glThQeKk3IgE5RXN2IpeaQxQCnb4gBTMTu2lL1vmq3Y=
 ) no-repeat;
 background-size: cover;
 background-position: center;
 height: 100vh;
 display: grid;
 grid-template-columns: repeat(12,1fr);
 grid-template-rows: repeat(12,1fr);

 .reserva{
   grid-column: 2;
   grid-row: 2;
   color: black;

     h1{
        grid-column: 4/8;
        font-weight: 900;
        
     }
     p{
      text-align: center;
      font-family: $Monserrat;
      color: black;
      justify-content: center;
      font-size: 15px;
     }

 }
 form{
    display: flex;
    border: 0.3rem solid black;
    background-color: none;
    grid-column: 2/9;
    grid-row: 9;
    padding: 0.5rem;
  
   
     
     .label{
      display: flex;
      flex-wrap: wrap;
        
       input{
         margin: 0.3rem;
         border: black solid;
         
         
       }
     }

}
}
@media (max-with:350px){
   .label{
      flex-direction: column;
      max-width: 350px;

   }

}