.sextasection{
    display: flex;
    

   p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin: 2rem;
    border-radius: 5px;
    max-width: 50%;

    }

   .imgmapa{
    display: flex;
    margin-top: 1rem ;
    max-width: 50%;
    margin-left: 3rem;
    }
}

.septimasection{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    margin-left: 1rem;

    .card:hover{
        transition: 1s;
        transform: scale(1.2);
    }

    .card{
        padding: 2rem;
        margin: 1rem;
        border-color: black;
        
        div{
         
            p{
                text-align: center;
                font-family: $Acme;
            }
        }
    }

    
}
@media (max-with: 65opx){
    .imgmapa{
        width: 50%;
    }
    // .septimasection{
    //         flex-direction: column-reverse;
    //         align-items: center;
    
    //  }
}