.ubicacion-main{
  
   h1{
      padding: 2rem;
      font-family: $Monserrat1;
   }
  .sextasection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    

    p{
     text-align: center;
     font-family: $Roboto;
     color: black;
     border-radius: 5px;
     font-size: 1rem;
    justify-content: center;
    width: 300px;


    }

   .imgmapa{
    display: flex;
    max-width: 300px;
    }
}
h2{
    font-family: $Monserrat1;
    padding: 3rem 1rem 1rem 1rem;
    margin: 0;
}
.septimasection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem 1rem 2rem 1rem;
    .card:hover{
        transition: 1s;
        transform: scale(1.2);
    }

    .card{
        padding: 2rem;
        margin: 1rem;
        border-color: black;
        
        div{
         
            p{
                text-align: center;
                font-family: $Acme;
            }
        }
    }
}
    
}
@media (max-with: 65opx){
    .imgmapa{
        width: 50%;
    }

}